@use "../variables";
@use "../classes/colors";
@use "../classes/buttons";

// Menu
.menu-sidebar {

    & i {
        width: 35px;
        text-align: center;
    }

    & a {

        color: white;

        &.active {
            background-color: white;
            color: variables.$primary-color;
        }

        &:hover {
            background-color: #b7b7b7;
            color: white;
        }

    }

}

.main-content {

    width: 100%;

    &__section {
        padding: 30px 3%;

        &:nth-child(even) {
            background-color: variables.$lightGray;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
        }

    }

    &__boutons {
        padding: 30px 3%;
    }
}

.vich-image, .vich-image img {
    width: 150px;
}
