{% extends 'base.html.twig' %}

{% block title %}{{ APP_NOM_OF }} - Qui sommes-nous ?{% endblock %}

{% block body %}
    <!-- Intro Section Start -->
    <section class="section section-padding">

        <div class="container w-50">

            <h1>Organisme de formation</h1>
            <p>LaPir Formation est un organisme de formation créé en 2022 par un groupe d'indépendants dans le domaine
                de l'informatique, tous développeurs et formateurs professionnels depuis 2015.</p>
            <p>Nous avons créé cet organisme de formation spécialisé dans l'informatique pour répondre aux besoins
                croissants des entreprises en formations professionnelles spécifiques.
            </p>

            <h2 class="fs-3">Spécialisés dans l'informatique</h2>
            <p>
                Nous axons notre différence avec nos concurrents dans le fait que notre catalogue de formation contient
                un nombre réduit de formation pour lesquelles nous nous sommes spécialisés.
            </p>
            <p>
                Nos formateurs sont expérimentés, ils sont régulièrement testés et sont à jour, tout comme nos
                programmes.<br>
                Chez nous, vous ne trouverez pas de formations standards proposées sur de vieilles versions de
                logiciels,
                de CMS, de frameworks, de pratiques ou de langages informatiques.
            </p>
            <p>
                Notre force réside dans la connaissance parfaite de notre catalogue de formation et sa mise à jour
                permanente.
            </p>

            <h2 class="fs-3">A l'écoute</h2>
            <p>Bien souvent, nos clients ont besoin de formations sur mesure et nous savons les leur apporter.</p>
            <p>Les formations que nous proposons sont maîtrisées par nos formateurs qui sauront vous proposer des
                programmes
                sur mesure, en parfaite adéquation avec les besoins de vos collaborateurs en entreprise.</p>

            <h2 class="fs-3">Un LMS performant</h2>
            <p>Nos LMS, fait maison, évidemment, vous permet de suivre la progression de vos apprenants.</p>
            <p>De l'auto-bilan aux évaluations formateurs et formation, vous retrouvez,
                systématiquement et en temps réel, les appréciations et les avancées de vos collaborateurs.</p>

        </div>

    </section>
    <!-- Intro Section End -->

{% endblock %}