<section class="main-content__section">
    <div class="row">

        <div class="col-4">
            {{ form_row(form.moduleFormation) }}
        </div>

        <div class="col-4">
            {{ form_row(form.nom) }}
        </div>

    </div>
</section>
