{% extends 'admin/base_admin.html.twig' %}

{% block body %}

    <section class="main-content__section">
        <h2>Ajouter un chapitre de formation</h2>
    </section>

    {{ form_start(form) }}
    {% include 'admin/chapitre/_form.html.twig' %}

    <section class="main-content__boutons">
        <button class="btn btn-success" type="submit">Ajouter</button>
    </section>

    {{ form_end(form) }}

{% endblock %}
