<section class="main-content__section">
    <div class="row">

        <div class="col-4">
            {{ form_row(form.nom) }}
        </div>

        <div class="col-4">
            {{ form_row(form.domaine) }}
        </div>

        <div class="col-6">
            {{ form_row(form.description) }}
        </div>

    </div>
</section>
