@use "../variables";
@use "sass:color";

.btn {

    &--primary {
        --bs-btn-color: #fff;
        --bs-btn-hover-color: #fff;
        --bs-btn-active-color: #fff;

        --bs-btn-bg: #{variables.$primary-color};
        --bs-btn-border-color: #{variables.$primary-color};

        --bs-btn-hover-bg: #{color.adjust(variables.$primary-color, $lightness: -3%)};
        --bs-btn-hover-border-color: #{color.adjust(variables.$primary-color, $lightness: -3%)};

        --bs-btn-active-bg: #{color.adjust(variables.$primary-color, $lightness: -6%)};
        --bs-btn-active-border-color: #{color.adjust(variables.$primary-color, $lightness: -6%)};

        --bs-btn-focus-shadow-rgb: 0, 0, 0;

        &:hover {
            color: white;
            background-color: color.adjust(
                    variables.$primary-color,
                $lightness: -3%
            );

        }
    }

    &--secondary {
        --bs-btn-color: #fff;
        --bs-btn-hover-color: #fff;
        --bs-btn-active-color: #fff;

        --bs-btn-bg: #{variables.$secondary-color};
        --bs-btn-border-color: #{variables.$secondary-color};

        --bs-btn-hover-bg: #{color.adjust(variables.$secondary-color, $lightness: -4%)};
        --bs-btn-hover-border-color: #{color.adjust(variables.$secondary-color, $lightness: -4%)};

        --bs-btn-active-bg: #{color.adjust(variables.$secondary-color, $lightness: -8%)};
        --bs-btn-active-border-color: #{color.adjust(variables.$secondary-color, $lightness: -8%)};

        --bs-btn-focus-shadow-rgb: 240, 138, 93;
    }

    &--tertiary {
        --bs-btn-color: #fff;
        --bs-btn-hover-color: #fff;
        --bs-btn-active-color: #fff;

        --bs-btn-bg: #{variables.$tertiary-color};
        --bs-btn-border-color: #{variables.$tertiary-color};

        --bs-btn-hover-bg: #{color.adjust(variables.$tertiary-color, $lightness: -4%)};
        --bs-btn-hover-border-color: #{color.adjust(variables.$tertiary-color, $lightness: -4%)};

        --bs-btn-active-bg: #{color.adjust(variables.$tertiary-color, $lightness: -8%)};
        --bs-btn-active-border-color: #{color.adjust(variables.$tertiary-color, $lightness: -8%)};

        --bs-btn-focus-shadow-rgb: 55, 65, 81;
    }

    &--quaternary {
        --bs-btn-color: #{variables.$tertiary-color};
        --bs-btn-hover-color: #{variables.$tertiary-color};
        --bs-btn-active-color: #{variables.$tertiary-color};

        --bs-btn-bg: #{variables.$quaternary-color};
        --bs-btn-border-color: #{color.adjust(variables.$quaternary-color, $lightness: -10%)};

        --bs-btn-hover-bg: #{color.adjust(variables.$quaternary-color, $lightness: -3%)};
        --bs-btn-hover-border-color: #{color.adjust(variables.$quaternary-color, $lightness: -12%)};

        --bs-btn-active-bg: #{color.adjust(variables.$quaternary-color, $lightness: -6%)};
        --bs-btn-active-border-color: #{color.adjust(variables.$quaternary-color, $lightness: -16%)};

        --bs-btn-focus-shadow-rgb: 55, 65, 81;
    }
}
